/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #fead26;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #fead26;
  text-decoration: none;
}

table {
  font-size: inherit;
  font: 100%;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    
    font-size: 80%;
  }

a.posts
{
font-size: 72px;

}
hr {
  background: #ddd; 
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 24px 0 1.4em;
  border: none; 
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;

}

.emphasis
{
  font-size: 18px;
  text-transform:uppercase;
}

.lemphasis 
{
  text-transform:uppercase;
}

  .site .title a {
    color: #fead26;
    text-decoration: none;
    float: left;

  }

  .site .title a.home{
    font-size:20px;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
    float:right;
  }

  .site .title a.extra:hover {
    color: #fead26;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
    text-align: center;
    text-transform:uppercase;


    
    
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */
 

  #post a.heading{
    font-size: 18px;
    color: #000;
    text-transform:uppercase;
  }

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

  .post {
  margin: 0 0 24px 0;
}

.post-meta {
  margin: 0;
  padding: 11px 11px 48px 80px;
  border-top: 1px solid #f1f1f1;
}

.link {
  margin: 0 0 36px 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #f1f1f1;
}

.link h3:before {
  position: relative;
  top: 3px;
  content: '∞';
  font-size: 24px;
  margin: 0 0 0 -40px;
  padding: 0 20px 0 0;
  color: #e0e0e0;
}

/*****************************************************************************/
/*
/* Portfolio
/*
/*****************************************************************************/

img.work{
width:100%;
margin-bottom: 1px;
position: relative;

} 

img.work:hover
{
border-left: 8px solid #fead26;


}

.cube table{

  width: 100%;
  text-transform:uppercase;
  font-size: 12px;
  font-weight:bold;

}

#portheader
{

background-color: #000;
width: 100%;
margin-top: 0px;
padding-top: 0px;


}

#portheader p{

  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 1px;
  padding: 10px;
  font-size: 20px;
}

/*****************************************************************************/
/*
/* Archive
/*
/*****************************************************************************/

#archive a{
    color: #000;
    text-transform:uppercase;
  }